node_modules
.env
botconfig/config.json
util.js
yarn-error.log
pm2.txt
commands/OWNER/removeslash.js
json.sqlite
.eslintrc.yml
err-0.log
logs-0.log
.prettierrc
dist
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
key.txt