.yarn
node_modules
.env
botconfig/config.json
Schemas/countingSchema.js
commands/Administration/coutning.js
util.js
yarn-error.log
commands/Administration/betaTester.js
/commands/.DS_Store
commands/Information/modmail.js
pm2.txt
commands/OWNER/removeslash.js
key.txt
json.sqlite
.eslintrc.yml
err-0.log
logs-0.log
.prettierrc
