node_modules
.env
botconfig/config.json
package-lock.json
Schemas/countingSchema.js
commands/Administration/coutning.js
yarn.lock
util.js
yarn-error.log
commands/Administration/betaTester.js
/commands/.DS_Store
commands/Information/modmail.js
commands/Administration/serverconfig.js